// Place all the styles related to the caregivers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.caregiver {
	border-bottom: solid 1px #CCC;
	padding: 20px 0;
}

.caregiver p {
	margin: 4px 0;
}

.caregiver:hover {
	background: #FAFAFA;
}

.caregiver .admin {
	display: none;
}

.caregiver:hover .admin {
	display: inline;
}

.caregiver .view-btn {
	display: none;
}

.caregiver:hover .view-btn{
	display: inline;
}

.view-btn {
	margin-left: 100px;
	padding-left: 100px;
	margin-top: 30px;
}

.full-name {
	padding-bottom: 5px;
}
